html{
    --body-bg: #5D5D7A;
    --body-color: #fff;
    --nav-bg: #23232e;
    --mobile-menu:#fff ;
    --ball: #fff;
    --label: #18181f;
    --ativo: #C0C0C0;
  }

  body{
    background-color: var(--body-bg);
  }

.navbar{
    width: 100%;
    height: 40px;
    position: fixed;
}
.atividades{
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}

.voltar{
    height: 30px;
    width: 30px;
}

.voltar img{
    height: 30px;
    width: 30px;
}

.card{
    width: 55%;
    height: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
}
