@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*
-arrumar a responsividade
-ver o que colocar do lado da foto
-colocar a foto
-ver se tem mais algum conteudo para colocar
*/

html{
    --body-bg: #5D5D7A;
    --body-color: #fff;
    --nav-bg: #23232e;
    --mobile-menu:#fff ;
    --ball: #fff;
    --label: #18181f;
    --ativo: #C0C0C0;
  }
  html[data-theme="light"]{
    --body-bg: #fcfcfc ;
    --body-color: #333333;
    --nav-bg: #EBEBEB;
    --mobile-menu:#1E1C1C ;
    --ball: #3b3b3b;
    --label: #e0dcdc;
    --ativo: #000000;
  }
  
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    a {
      color: var(--body-color);
      text-decoration: none;
      transition: 0.3s;
    }
    .ativo a{
        color: var(--ativo);
    }
    a:hover {
      opacity: 0.7;
    }
    
    

    .logo {
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 4px;
    }
    
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
      background: var(--nav-bg);
      height: 8vh;
    }
    
    .nav-list {
      list-style: none;
      display: flex;
    }
    
    .nav-list li {
      letter-spacing: 3px;
      margin-left: 32px;
      margin-top: 2.5vh;
    }
    
    .mobile-menu {
      display: none;
      cursor: pointer;
    }
    
    .mobile-menu div {
      width: 32px;
      height: 2px;
      background: var(--mobile-menu);
      margin: 8px;
      transition: 0.3s;
      
    }
    
    .checkbox{
      opacity: 0;
      position: absolute;
  }
  .label{
      background-color: var(--label);
      width: 50px;
      height: 26px;
      border-radius: 50px;
      position: relative;
      justify-content: space-between;
  }
  .ball{
      position: absolute;
      border-radius: 50%;
      width: 22px;
      height: 22px;
      background-color: var(--ball);
      top: 2px;
      transition: transform 0.2s linear;
  }
  .checkbox:checked + .label .ball{
      transform: translateX(24px);
  }
  .fa-moon{
      color: #f1c40f;
  }
  .fa-sun{
      color: #F79525;
  }
  
  .materias {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-top: 10vh;
    }
    
    .natureza { 
        grid-area: 1 / 1 / 2 / 3; 
    }
    button{
        border: none;
    }
    .humanas { 
        grid-area: 1 / 3 / 2 / 5; 
    }
    .linguagens { 
        grid-area: 1 / 5 / 2 / 7; 
    }
    .tecnico { 
        grid-area: 2 / 4 / 3 / 7; 
    }
    .matematica { 
        grid-area: 2 / 1 / 3 / 4; 
    }
  
   img{
       width: 100%;
       height: 100%;
   }
   body{
       background-color: var(--body-bg);
       color: var(--body-color);
   }
  
    @media (max-width: 999px) {
      body {
        overflow-x: hidden;
      }
      .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 30vw;
        height: 92vh;
        background: var(--nav-bg);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
      }
      .nav-list li {
        margin-left: 0;
        opacity: 0;
      }
      .mobile-menu {
        display: block;
      }
    }
    
    .nav-list.active {
      transform: translateX(0);
      z-index: 1;
      
    }
    
    @keyframes navLinkFade {
      from {
        opacity: 0;
        transform: translateX(50px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }
    
    .mobile-menu.active .line1 {
      transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .mobile-menu.active .line2 {
      opacity: 0;
    }
    
    .mobile-menu.active .line3 {
      transform: rotate(45deg) translate(-5px, -7px);
    }
    
    .apresentacao{
      height: 252px;
    }
    .apresentacao h4{
      line-height: 1.5;
      font-family: 'Courier Prime', monospace;
      text-align: justify;
    }
      .parent {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 5vw;
        grid-row-gap: 0px;
        margin-top: 5vh;
        }
      
      .div1 { grid-area: 1 / 1 / 2 / 2;}
      .div2 { grid-area: 1 / 2 / 2 / 3;}

      .foto{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .foto img{
        border-radius: 10%;
      }
      .texto{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
      }
      .texto p{
        font-size: 1.6rem;
        font-family: 'Roboto', sans-serif;
      }

      .rotina{
       width: 100%;
       height: 60vh;
       margin-top: 4vh;
      }
      .rotina span{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .rotina h5{
        text-align: center;
        padding: 5px;
        width: 20vw;
        font-size: 1.7rem;
        border-style: solid;
        border-width: 0px 0px 4px 0px;
        border-color: #F79525;
      }
      .rotina iframe{
        width: 100%;
        height: 68%;
      }

    @media (max-width: 1200px){
        hr{
          display: none;
        }
    }

    @media (max-width: 999px) {
      .apresentacao{
        display: block;
      }
      .foto{
        display: block;
       margin-left: auto;
       margin-right: auto;
      }
      .apresentacao{
        display: block;
      }
      .parent{
        display: block;
        margin: 0;
        padding-top: 10vh;
        margin-bottom: 0;
      }
      
    }
    @media (max-width: 699px){
     
      nav{
        padding: 40px;
      }
      body{
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
      }
      .apresentacao{
        height: 50vh;
      }
      p{
        height: 50vh;
        margin-top: 35vh;
      }
      .rotina{
        padding-bottom: 40px;
      }
    }
    @media (max-width: 413px){
      body{
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
      }
      .apresentacao{
        height: 50vh;
      }
      p{
        height: 50vh;
        margin-top: 5vh;
      }
    }
    @media (max-width: 375px){
      body{
        height: 100vh;
        width: 100vw;
        overflow-x: hidden;
      }
      .apresentacao{
        height: 50vh;
      }
      p{
        height: 50vh;
        margin-top: 20vh;
      }
    }
    


