*{
    margin: 0;
    padding: 0;
}

.materias {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    margin-top: 10vh;
    }
    
    .natureza { 
        grid-area: 1 / 1 / 2 / 3; 
    }
    button{
        border: none;
    }
    .humanas { 
        grid-area: 1 / 3 / 2 / 5; 
    }
    .linguagens { 
        grid-area: 1 / 5 / 2 / 7; 
    }
    .tecnico { 
        grid-area: 2 / 4 / 3 / 7; 
    }
    .matematica { 
        grid-area: 2 / 1 / 3 / 4; 
    }

   img{
       width: 100%;
       height: 100%;
   }
   body{
       background-color: #5D5D7A;
   }
   @media only screen and (max-width: 770px) {
    .materias {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        width: 100%;
        margin-top: 5vh;
        justify-content: center;
        }
        
        .natureza { 
            grid-area: 1 / 1 / 2 / 2; 
            width: 100%;
        }
        .natureza button{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .humanas { 
            grid-area: 2 / 1 / 3 / 2; 
            width: 100%;
        }
        .humanas button{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .linguagens { 
            grid-area: 3 / 1 / 4 / 2; 
            width: 100%;
        }
        .linguagens button{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .tecnico { 
            grid-area: 4 / 1 / 5 / 2; 
            width: 100%;
        }
        .tecnico button{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        .matematica { 
            grid-area: 5 / 1 / 6 / 2; 
            width: 100%;
        }
        .matematica button{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        /*
        - ver questao do navbar
        - decidir como vou mostrar o conteudo das materias
        - add os links
        -tentar fazer um esquema de tema claro e tema escuro
        */

  }